<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Accidentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content   class="myBackground"> 

      <ion-card  class="welcome-card">
          <!--
            <ion-card-header>
            </ion-card-header>
          -->
            <ion-card-title class="myTexto">
              <p>Esta é uma aplicacao séria <br> seu uso impacta na vida das pessoas<br> use com consciencia</p>
            </ion-card-title>
          </ion-card>
  
  
  <ion-list class="myBackground">

  <ion-img src="/assets/carro.png"  [routerLink]="['/','casa','carro']" ></ion-img>

<p>
</p>

<p>
</p>
<ion-img src="/assets/acidente_domestico.png"  [routerLink]="['/','casa','accidenteDomestico']" ></ion-img>

<p>
</p>




</ion-list>

</ion-content>

