




<ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Situacao de Risco</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content   class="myBackground"> 

      <ion-card  class="welcome-card">
          <!--
            <ion-card-header>
            </ion-card-header>
          -->
            <ion-card-title class="myTexto">
              <p>Esta é uma aplicacao séria <br> seu uso impacta na vida das pessoas<br> use com consciencia</p>
            </ion-card-title>
          </ion-card>
  
  
  <ion-list class="myBackground">

  <ion-img src="/assets/enchente.png"  [routerLink]="['/','casa','enchente']" ></ion-img>

<p>
</p>

<p>
</p>
<ion-img src="/assets/preso_em_locais_fechados.png"  [routerLink]="['/','casa','presoLocaisFechados']" ></ion-img>

<p>
</p>

<ion-img src="/assets/queda_de_arvore.png"  [routerLink]="['/','casa','quedaArvore']" ></ion-img>

<p>
</p>

<ion-img src="/assets/altura.png"  [routerLink]="['/','casa','altura']" ></ion-img>

<p>
</p>

<ion-img src="/assets/desmoronamento_deslizamento.png"  [routerLink]="['/','casa','deslizamento']" ></ion-img>

<p>
</p>



</ion-list>

</ion-content>